html * {
    text-align: center;
}

ul {
    display: inline-block;
    list-style: none;
    list-style-type: none;
    position:relative;
    float: none;
    text-align: center;
    padding: 0px
}
li.game-option {
    padding: 20px;
    position: relative;
    background: #555;
    margin: 5px;
    display: inline-block;
}
li.game-option:hover {
    background-color: #880077;
  }

li.scoreboard {
    padding: 15px;
    background-color: #005500;
    margin: 5px;
    display: inline-block;

}
#gamepiece-holder, 
#score-skip {
    float: none;
    display: inline-block;
    position: relative;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#score-skip {
    margin: auto;
}
.metred,
a.btn.metred {
    background: #e03;
    border-color: #e45;
}

#redheader {
    height: 70px;
    background: #e03;
    z-index:3000;
}

div.modal-content .modal-footer .new-game-button {
    position: absolute;
    left: 20px;
}

/* modal windows */
#modal-object-image {
    width: 30vh;
}

#correctModalObjectDetails * {
    text-align: left;
}